body {
    margin: 0;
}

.header {
    background-color: rgb(242, 148, 104);
    padding: 20px;
    text-align: center;
    color: slategrey;
    margin: 0 0 50px 0;


}
main {
    background-image: url(../img/leaves.png);
}
.intro {
    background-image: url(../img/139_1987865-W.jpg);
    padding: 100px 100px;
    background-size: cover;
    background-position: center;
    margin: 100px 100px;
    text-align: left;
}

.text {
    text-align: left;
    margin: 50px 50px;
    border: 12px solid transparent;
    padding: 100px 300px 100px 150px;
}
.hugger {
    background-color: black;
    color: aliceblue;
}

.father {
    display: flex;
    text-align: center;
    margin: 30px 30px;
}